.consolecomp {
  display: none !important;
  height: 29vh !important;
  /* overflow-y: auto !important; */
  overflow: scroll !important;
}

.output-display {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
  font-size: small !important;
}

#minimize-btn {
  float: right !important;
}
