#run-btn {
  margin-left: 10px !important;
}

#submit-btn {
  float: right !important;
}

.float-left {
  float: left !important;
}

.theme-button {
  margin-left: 5px !important;
}

/* .editornav {
  border-bottom: solid rgba(237, 231, 231, 0.92) 2px;
} */
