.editor-container {
  display: none !important;
}

#editor-toggle-button {
  float: right !important;
  margin: 20px !important;
}

.SplitPane {
  position: relative !important;
}

.Pane {
  overflow: auto !important;
}

.Resizer {
  background: #000 !important;
  opacity: 0.2 !important;
  z-index: 1 !important;
  box-sizing: border-box !important;
  background-clip: padding-box !important;
}

.Resizer:hover {
  transition: all 0.2s ease !important;
}

.Resizer.vertical {
  width: 5px !important;
  margin: 0 -2px !important;
  cursor: col-resize !important;
}

.Resizer.horizontal {
  height: 5px !important;
  margin: -2px 0 !important;
  cursor: row-resize !important;
}
